body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(56, 161, 147, 0.411);
  background-image: url("https://github.com/harold-barron/LaunchX-FrontEnd/blob/main/HTML/Logo/Logo%20Pasteleria.png?raw=true");
  width:fit-content;
  height:fit-content;
}

.a{
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 230%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid black;
  background-color: azure;
  width:fit-content;
}

.l{
    margin-top: 2cm;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    height: 50%;
    width: fit-content;
    border: 1px solid black;
    background-color: azure;
}
.l2{
  margin-top: 2cm;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0px 0px 0px;
  height: 50%;
  width: fit-content;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(64, 180, 180, 0.322);
}
.chart-wrap {

  --chart-width:420px;

  --grid-color:rgb(0, 0, 0);

  --bar-color:#cad3ec;

  --bar-thickness:40px;

  --bar-rounded: 3px;

  --bar-spacing:10px;



  font-family:sans-serif;

  width:var(--chart-width);

}



.chart-wrap .title{

  font-weight:bold;
 

  padding:1.8em 0;

  text-align:center;

  white-space:nowrap;

}



/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */

.chart-wrap.horizontal .grid{

  transform:rotate(-90deg);

}



.chart-wrap.horizontal .bar::after{

  /* giramos las letras para horizontal*/

  transform: rotate(45deg);

  padding-top:0px;

  display: block;

}



.chart-wrap .grid{

  margin-left:50px;

  position:relative;

  padding:5px 0 5px 0;

  height:100%;

  width:100%;

  border-left:2px solid var(--grid-color);

}



/* posicionamos el % del gráfico*/

.chart-wrap .grid::before{

  font-size:0.8em;

  font-weight:bold;

  content:'0%';

  position:absolute;

  left:-0.5em;

  top:-1.5em;

}

.chart-wrap .grid::after{

  font-size:0.8em;

  font-weight:bolder;

  content:'100%';

  position:fixed;

  right:-1.5em;

  top:-1.5em;

}



/* giramos las valores de 0% y 100% para horizontal */

.chart-wrap.horizontal .grid::before, .chart-wrap.horizontal .grid::after {

  transform: rotate(90deg);

}



.chart-wrap .bar {

  width: var(--bar-value);

  height:var(--bar-thickness);

  margin:var(--bar-spacing) 0;

  background-color:var(--bar-color);

  border-radius:0 var(--bar-rounded) var(--bar-rounded) 0;

}



.chart-wrap .bar:hover{

  opacity:1;

}



.chart-wrap .bar::after{

  content:attr(data-name);

  margin-left:100%;

  padding:10px;

  display:inline-block;

  white-space:nowrap;

}



